footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

#page-wrapper {
    padding-bottom: 2.5rem;
}

h3 {
    text-align: left;
    font-size: 20pt;
    background-color: #dfdfdf;
}

form input {
    font-size: 14pt;
}

button {
    font-size: 18pt;
    background-color: #bfbfbf;
    outline-color: #606060;
}

button:hover {
    font-size: 18pt;
    background-color: #80bfff;
    outline-color: #406080;
}

p {
    text-align: justify;
}

a {
    color: #004040;
}

.top-navigation {
    margin: 0;
    font-size: 18pt;
    background-color: #808080aa;
    outline-color: #404040aa;
    outline-width: 2px;
    overflow: hidden;
}

.top-navigation a {
    float: left;
    text-align: center;
    padding: 8px 8px;
}

.top-navigation a#login, a#sign-up {
    float: right;
}

.top-navigation a:hover {
    background-color: #4080bfaa;
}

.top-navigation a.active {
    background-color: #bfbf40aa;
}

.top-navigation a.active:hover {
    background-color: #40bf40aa;
}